<a href="https://colab.research.google.com/github/daam13/CurrencyConverter/blob/main/Laboratorio_3_CarlosAlbornoz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplo 1 de uso basico de Pandas

In [ ]:
import pandas as pd

data = {
    'Country': ['Costa Rica', 'India', 'Brazil'],
    'Capital': ['San Jose', 'New Delhi', 'Brasilia'],
    'Population': [4500000, 133171035, 207847528]
}

df = pd.DataFrame(data, columns=data.keys())
print(df)

      Country    Capital  Population
0  Costa Rica   San Jose     4500000
1       India  New Delhi   133171035
2      Brazil   Brasilia   207847528

# Ejemplo 2 **Promedio de los elementos del vector**

In [ ]:
print('Promedio de los elementos del vector')
Sum = 0
Avg = 0
Temp = []

print('Ingrese cantidad de temperaturas')
TempQtty = int(input())

for i in range(TempQtty):
  temperature = float(input('Ingrese una temperatura: '))
  Temp.append(temperature)
  Sum = Sum + Temp[i]

Avg = Sum / len(Temp)
print(Avg)

Promedio de los elementos del vector
Ingrese cantidad de temperaturas
5
Ingrese una temperatura: 12
Ingrese una temperatura: 51
Ingrese una temperatura: 2121.2
Ingrese una temperatura: 51
Ingrese una temperatura: -518.2
343.4

# Ejemplo 2 - Consultas y ordenamientos

In [ ]:
import pandas as pd

pets = pd.DataFrame(
    data = {
        'name': ['Spelunky', 'Sasha', 'King', 'Flaffy', 'Blank'],
        'type': ['cat', 'dog', 'dog', 'dog', 'Horse']
    },
    index = [71,42,11,98,42]
)


visits = pd.DataFrame(
    data = {
        'pet_id' : [42,31,71,42,98,42],
        'date' : ['2019-03-15', '2019-03-15', '2019-04-05', '2019-04-05', '2019-04-12', '2019-05-01'],
        'cost' : [2000, 5000, 1000, 5000, 6000, 10000]
    }
)

pets.index.rename('pet_id', inplace=True)
visits.index.rename('visit_id', inplace=True)

# Queries by specific colums
print(pets.query('pet_id==71'))


# As well, some function are defined to execute common functions, like sums
print("\nMetrics: ")
print('Sum: ',visits['cost'].sum())
print('Minimum ammount: ', visits['cost'].min())
print('Max Ammount', visits['cost'].max())


# Sorting
print('\nWithout Sorting')
print(visits)

print('\nSorted')
print(visits.sort_values(by='cost', ascending=False))


# Mergin dataframes, this generates a cartesian product
petshop = pd.merge(pets, visits, how='cross')
print('\The PetShop')
print(petshop)

            name type
pet_id
71      Spelunky  cat

Metrics:
Sum:  29000
Minimum ammount:  1000
Max Ammount 10000

Without Sorting
          pet_id        date   cost
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05   1000
3             42  2019-04-05   5000
4             98  2019-04-12   6000
5             42  2019-05-01  10000

Sorted
          pet_id        date   cost
visit_id
5             42  2019-05-01  10000
4             98  2019-04-12   6000
1             31  2019-03-15   5000
3             42  2019-04-05   5000
0             42  2019-03-15   2000
2             71  2019-04-05   1000
\The PetShop
        name   type  pet_id        date   cost
0   Spelunky    cat      42  2019-03-15   2000
1   Spelunky    cat      31  2019-03-15   5000
2   Spelunky    cat      71  2019-04-05   1000
3   Spelunky    cat      42  2019-04-05   5000
4   Spelunky    cat      98  2019-04-12   6000
5   Spelunky    cat      42  2019-05-01  10000
6      Sasha    dog      42  2019-03-15   2000
7      Sasha    dog      31  2019-03-15   5000
8      Sasha    dog      71  2019-04-05   1000
9      Sasha    dog      42  2019-04-05   5000
10     Sasha    dog      98  2019-04-12   6000
11     Sasha    dog      42  2019-05-01  10000
12      King    dog      42  2019-03-15   2000
13      King    dog      31  2019-03-15   5000
14      King    dog      71  2019-04-05   1000
15      King    dog      42  2019-04-05   5000
16      King    dog      98  2019-04-12   6000
17      King    dog      42  2019-05-01  10000
18    Flaffy    dog      42  2019-03-15   2000
19    Flaffy    dog      31  2019-03-15   5000
20    Flaffy    dog      71  2019-04-05   1000
21    Flaffy    dog      42  2019-04-05   5000
22    Flaffy    dog      98  2019-04-12   6000
23    Flaffy    dog      42  2019-05-01  10000
24     Blank  Horse      42  2019-03-15   2000
25     Blank  Horse      31  2019-03-15   5000
26     Blank  Horse      71  2019-04-05   1000
27     Blank  Horse      42  2019-04-05   5000
28     Blank  Horse      98  2019-04-12   6000
29     Blank  Horse      42  2019-05-01  10000

# Laboratorio 3

In [ ]:
import pandas as pd

# 1. Estructuras a utilizar

students = [
    ('Ana', 23, 'San Jose', 'A'),
    ('Esteban', 22, 'Heredia', 'B'),
    ('Juan', 22, 'Cartago', 'A'),
    ('Karla', 22, 'Limon', 'A'),
    ('Ernesto', 21, 'Heredia', 'B'),
]

df = pd.DataFrame(students, columns = ['Name', 'Age', 'City', 'Class'])

# 2 Imprimir informacion
print(df)


# 3. Hacer una funcion para retornar todo el conjunto de datos de la informacion a buscar
#    por ejemplo, si queremos retornar toda la informacion acerca de la edad de una persona

      Name  Age      City Class
0      Ana   23  San Jose     A
1  Esteban   22   Heredia     B
2     Juan   22   Cartago     A
3    Karla   22     Limon     A
4  Ernesto   21   Heredia     B